{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <ion-icon name="build-outline" size="large"></ion-icon>
    </div>
    <h1 class="text-center">IMPLEMENTATION</h1>
    <hr>
    <div class="col-sm-12 col-lg-12">
        <img src="/static/images/implantacion.jpg" class="img-fluid" alt="">
    </div>
    <div class="col">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium at atque deleniti eligendi, expedita labore necessitatibus officia, omnis perferendis placeat reiciendis reprehenderit saepe temporibus, veniam voluptatibus. Iste, minus.</span><span>Aut minima tenetur ullam. Cum eum harum natus quam vel? Accusantium blanditiis cupiditate dolorem excepturi facilis nam, nostrum praesentium quaerat quam quidem quis quod, reprehenderit, repudiandae veniam vitae voluptatibus voluptatum.</span>
        </p>
        <hr>
    </div>
    <div class="col">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium at atque deleniti eligendi, expedita labore necessitatibus officia, omnis perferendis placeat reiciendis reprehenderit saepe temporibus, veniam voluptatibus. Iste, minus.</span><span>Aut minima tenetur ullam. Cum eum harum natus quam vel? Accusantium blanditiis cupiditate dolorem excepturi facilis nam, nostrum praesentium quaerat quam quidem quis quod, reprehenderit, repudiandae veniam vitae voluptatibus voluptatum.</span>
        </p>
        <hr>
    </div>
    <div class="col">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium at atque deleniti eligendi, expedita labore necessitatibus officia, omnis perferendis placeat reiciendis reprehenderit saepe temporibus, veniam voluptatibus. Iste, minus.</span><span>Aut minima tenetur ullam. Cum eum harum natus quam vel? Accusantium blanditiis cupiditate dolorem excepturi facilis nam, nostrum praesentium quaerat quam quidem quis quod, reprehenderit, repudiandae veniam vitae voluptatibus voluptatum.</span>
        </p>
        <hr>
    </div>
    <div class="col">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium at atque deleniti eligendi, expedita labore necessitatibus officia, omnis perferendis placeat reiciendis reprehenderit saepe temporibus, veniam voluptatibus. Iste, minus.</span><span>Aut minima tenetur ullam. Cum eum harum natus quam vel? Accusantium blanditiis cupiditate dolorem excepturi facilis nam, nostrum praesentium quaerat quam quidem quis quod, reprehenderit, repudiandae veniam vitae voluptatibus voluptatum.</span>
        </p>
        <hr class="end">
    </div>
</div>



{% endblock %}