{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h1 class="text-center">Strategy</h1>
        <hr>
        <div class="d-flex justify-content-center">
            <ion-icon name="book-outline" size="large"></ion-icon>
        </div>
        <div class="row landing">
            <div class="col">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa, delectus deserunt ducimus esse exercitationem ipsam maiores maxime modi, mollitia natus nisi nobis, non placeat possimus quaerat tempora ullam voluptatibus!</span>
                </p>
            </div>
            <div class="col-5">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis esse facere maxime nihil praesentium quasi qui quis quos. Autem commodi earum eligendi enim eum, facilis odit officia recusandae ut vel.</span>
                </p>
            </div>
            <div class="col">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus, dolore iure nesciunt possimus quo rem vel. Dolore excepturi, non pariatur quos repudiandae saepe? Incidunt nulla perspiciatis quis quod similique?</span>
                </p>
            </div>
        </div>
    </div>
    </div>
</section>
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/images/estrategia.jpg"
                     alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/images/formacion.jpg"
                     alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/images/arquitectura.jpg"
                     alt="Third slide">
            </div>
        </div>
    </div>
    </div>
 </section>
<section>
    <div class="container">
  <div class="row">
    <div class="col"><h1 class="text-left">Strategy Information</h1></div>
    <div class="col" ><p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis distinctio est exercitationem fugiat ipsum modi omnis sequi ullam voluptatibus. Beatae blanditiis cum debitis in labore laudantium nobis reprehenderit vitae?</span><span>Accusamus adipisci commodi excepturi illum inventore nam nobis odit pariatur quasi rem? Alias aperiam assumenda, beatae commodi dignissimos doloribus eaque, ex harum impedit ipsum iste maxime mollitia nemo officiis tenetur!</span></p></div>
    <div class="w-100"></div>
    <div class="col"><p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus enim molestiae nam quidem! Accusamus eveniet illo odit quidem ratione, tempora. Accusantium alias at cumque labore laboriosam perferendis provident veritatis.</span><span>Eaque esse facere impedit neque pariatur perspiciatis qui quisquam ratione, tempore voluptatem? Beatae culpa eaque, facere fugit laudantium nihil nulla obcaecati placeat provident quod recusandae repellendus sint temporibus, unde voluptatem.</span></p></div>
    <div class="col"><p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eveniet ex harum magni molestias mollitia perspiciatis possimus, sed. Ab alias at commodi corporis eum facere iste libero natus placeat sit.</span><span>Consequuntur cumque et eum excepturi, exercitationem illum in maxime nam nobis possimus tempora ut velit voluptatem. Aliquid aperiam delectus eligendi incidunt laboriosam magnam quae quia ratione reprehenderit sint. Aliquid, aut.</span></p></div>
  </div>
</div>
</section>
{% endblock %}